<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duzhaokun123.toasticon">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToastIcon"
        tools:ignore="AllowBackup">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="show toast icon" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".PreferenceProvider"
            android:authorities="com.duzhaokun123.toasticon.preferences"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>